{% extends 'base.html' %}

{% block content %}

<h1>Sabacc</h1>
<p>Sabacc is a very fun space card game which is a combination of <i>Poker, Blackjack,</i> and <i>Slots</i>. Here is a video on how to play:</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ZjGsiEtmU-w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Your Games</p>

<ul>
{% for item in games %}

  {% if item.player1 == requester or item.player2 == requester%}
    
    <li>{{ item.player1 }} vs. {{ item.player2 }} Game link: https://sabacc-website.heinoushare.repl.co/game/{{ item.id }}/{{ item.id }}/null</li>

  {% endif %}

{% endfor %}
</ul>
<p>Active games</p>
<ul>
{% for item in gameLinks %}
<li><a href="{{ item }}">{{ item }}</a></li>
{% endfor %}
</ul>
{% endblock %}